# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*
package-lock.json
Cargo.lock

# Ignored output directory
/dist

# Ignored cache directory
.cache

# Ignored dependency directory
/node_modules

# Ignored Parcel cache files
.parcel-cache

# Ignored log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

